*{
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav{
  width:85%;
  max-width:1360px;
  height:92px;
  display: flex;
  align-items: center;
  background-color:#FFFFFF;
  margin: 0 auto;
}
.nav-options{
  margin: 0 auto;
}
.nav-options a{
  color: black;
  text-decoration: none;
  padding-right: 32px;
  
}
.nav .btn{
  height: 44px;
  width: 164px;
  background-color: #30B868;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  border:1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.hero{
  width:1600px;
  height: 674px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-main-section{
  height: 295px;
  width: 1360px;
  padding-top: 115px;
  padding-left:120px;
}
h5{
  text-align:center;
}
.hero-main-section .first{
  margin-top: 16px;
  width: 170px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  border:1px solid transparent;
  color: #30B868;
  background-color: #FFFFFF;
  margin:0 auto;

}
.hero-main-section .second{ 
  /* height: 250px;
  font-size: 40px;
  text-align: center; */
  padding : 51px 295px 16px;
  text-align: center;
  font-size: 37px;
}
.second .white{
  color: #FFFFFF;

}
.second .green{
  color: #30B868;
  padding-bottom: 30px;
}
.hero-main-section p{
  margin-top: 16px;
  text-align: center;
  color: #FFFFFF;
  height: 60px;
  padding-bottom: 32px;
}
.forth{
  border:1px solid black;
}
.button{
  display: flex;
  justify-content: center;
  margin:32px 447px 81px;
  gap:16px;
}
.b-one{
  width: 250px;
  height: 52px;
  background-color: #30B868;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  border:1px solid transparent;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.b-two{
  width: 200px;
  height: 52px;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  border:1px solid #FFFFFF;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.second-page{
  width:1660;
  height: 448px;
  margin: 0 120px 49px;
}
.second-page .text{
  width: 1360px;
  height: 153px;
  gap:16px;
}
.text h2{
  font-size: 48px;
  font-weight: bold;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color:#001931
}
.text p{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color :#627382
}
.second-page .points {
  max-width: 1360px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap:124px;
  /* margin:0 auto; */
}
.box{
  padding-top: 70px;
  height:300px;
  max-width:322px;
  gap:30px;
}
.box img{
  background-color: #F95555;
}
.box h2{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
  color: #001931;
}
.box p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
.solution{
  padding: 0 120px 120px;
  display: flex;
  gap:60px;
}
.solution .sol-image{
  width:44%;
  max-width: 600px;
  height: 600px;
}
.solution .sol-content{
  max-width: 700px;
  padding: 100px 0 100px 60px;
}
.sol-content .text h4{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 16px;
}
.sol-content .text h1{
  width:700px;
  height:117px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.sol-content .text p{
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
}
.sol-content .points {
  list-style-type: none;
  
} 
.points ul li{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.ready{
  width: 85%;
  max-width: 1360px;
  padding: 2px 120px 0;
  background-color: #F7F6F2;
  margin: 0 auto;
  text-align: center;
}
.ready .question{
  padding: 80px 40px 24px;
}
.question h2{
  font-size: 40px;
  font-weight: bold;
  color:#001931;
  margin-bottom: 16px;
}
.question p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
.ready .access{
  padding: 0 40px 80px;
}
.access .bt{
  width: 194px;
  height: 52px;
  color: #FFFFFF;
  background-color: #30B868;
  border: none;border-radius: 3px;
  margin-bottom: 16px;
}
.access p{
  color: #627382;
  font-size: 16px
}
footer{
  width: 100%;
  width:1360px;
  background-color: #001931;
  margin: 0 auto;
}
footer .social-link{
  display: flex;
  justify-content: space-around;
  padding:120px 120px 80px;
  gap: 790px;
}
.links p{
  font-size: 20;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.links i{
  color: #FFFFFF;
}
footer .liscence{
  padding: 0 120px 30px;
}
hr{
  width: 85%;
  text-align: center;
  position: absolute;
}
.text p{
  padding-top: 30px;
}